.navbar-light .navbar-nav .nav-link {
    color: white !important;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
}
.navBtn{
    background-color: #FFAC12 ;
    border: #FFAC12;
    border-top-right-radius: 18px;
    width: 131px;
}