.HomeSec {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../Images/home.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

